<%= erb :'_errors' %>

<form action="/" method="post">
  <label>Username</label>
  <input type="text" name="user[username]">
  <br>
  <label>Password</label>
  <input type="password" name="user[password]">
  <br>
  <button class="btn waves-effect waves-light" type="submit">Log In
    <i class="material-icons right"></i>
  </button>
</form>
<!--
<a href="/users">Sign up</a> -->
