.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}


body {
     font: 300 18px/24px "lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.self-margin {
  margin-top: 15px;
}

.self-margin-button {
  margin-bottom: 15px;
}
