<%= erb :'_errors' %>
<!--
<form action="/users" method="post">
  <label>First Name:</label>
  <input type="text" name="user[first_name]">
  <br>
  <label>Last Name:</label>
  <input type="text" name="user[last_name]">
  <br>
  <label>Display name:</label>
  <input type="text" name="user[username]">
  <br>
  <label>Email:</label>
  <input type="text" name="user[email]">
  <br>
  <label>Password:</label>
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Login">
</form> -->


<div class="row">
  <form class="col s12" action="/users" method="post">
    <div class="row">
      <div class="input-field col s12 m6">
        <input id="first_name" type="text" class="validate" name="user[first_name]">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="last_name" type="text" class="validate" name="user[last_name]">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" name="user[username]">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name=user[password]>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name=user[email]>
        <label for="email">Email</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light orange accent-4 col m4 s10 self-margin-button " type="submit">Submit
      <i class="material-icons right"></i>
    </button>
  </form>
</div>
