<%= erb :'_errors' %>

<form action="/users" method="post">
  <label>First Name:</label>
  <input type="text" name="user[first_name]">
  <br>
  <label>Last Name:</label>
  <input type="text" name="user[last_name]">
  <br>
  <label>Display name:</label>
  <input type="text" name="user[username]">
  <br>
  <label>Email:</label>
  <input type="text" name="user[email]">
  <br>
  <label>Password:</label>
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Login">
</form>
