<form action="/posts/<%= @post.id %>/answers/<%= @answer.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="textarea" name="answer" value="<%= @answer.body %>">
  <input type="submit" value="Edit Your answer">
</form>
