<form action="/posts/<%= @post.id %>/answers" method="post">
  <div class="row">
      <div class="row">
        <div class="input-field col s12 m6">
          <textarea id="textarea1" class="materialize-textarea" name="answer" ></textarea>
          <label for="textarea1">Answer</label>
        </div>
      </div>
  </div>
  <button class="btn waves-effect waves-light orange accent-4 col m4 s10 self-margin-button " type="submit">Submit
    <i class="material-icons right"></i>
  </button>
</form>
