<%= erb :'_errors' %>

<form action="/login" method="post">
  <label>Display Name:</label>
  <input type="text" name="name">
  <br>
  <label>Email (required, but never shown)</label>
  <input type="text" name="email">
  <br>
  <label>Password</label>
  <input type="password" name="password_hash">
  <br>
  <input type="submit" value="Login">
</form>

<a href="/users">Sign up</a>
