<a href="/posts/new" class=">Posts</a>

<main role="main">
  <ul class="posts">
    <% @posts.each do |post| %>
      <li class="">
        <a href="/posts/<%= post.id %>" class=""><%= post.title %></a>
      </li>
    <% end %>
  </ul>
</main>
