<%= erb :'users/_errors' %>

<form method="post" action="/">
  <label for="title" class="">Title:</label>
  <input id="title-input" name="posts[:title]" type="text" value="<%= @posts.try(:title) %>" tabindex="1" class="">

  <label for="question-textarea" class="">Question:</label>
  <textarea id="question-textarea" name="posts[:question]" tabindex="3" class=""><%= @posts.try(:question) %></textarea>

  <input type="submit" value="submit" tabindex="3" class="">
</form>
