<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <link rel="stylesheet"
  href="http://fonts.googleapis.com/css?family=Lato:100,300,400">



  <title></title>
</head>
<body>
    <div class="container">
    <nav>
      <div class="nav-wrapper orange accent-4">
        <a href="/" class="brand-logo">&nbsp;&nbsp;Stacks on Stacks Overflow</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><a href="/users/<%=current_user.id%>"><%= current_user.username %></a></li>
            <li><a class="logout-button" href="/sessions/logout">Logout</a></li>
          <% else %>
            <li><a class="login-button" href="/sessions/login"> Log In </a></li>
            <li><a href="/users/new"> Register </a></li>
          <% end %>
      </div>
      </ul><br><br>
    </nav>
    <%= yield %>

    <footer class="page-footer orange accent-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">PolyMorphic Power Rangers</h5>
            <p class="grey-text text-lighten-4">It's morphin' time!.</p>
          </div>
          <div class="orange accent-4 col l4 offset-l2 s12">
            <h5 class="white-text">Created By:</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/CGrijalva90">Carlos Grijalva</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/JKMcDonald">Kyle McDonald</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/AlexPersaud17">Alex Persaud</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/cfrancisco726">Carlo Francisco</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 WAZZZZUP
        <a class="grey-text text-lighten-4 right" href="http://www.stackoverflow.com">StackOverflow</a>
        </div>
      </div>
    </footer>



  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/login.js"></script>
</body>
</html>
